.registration-card{
    width: 400px;
    height: 500px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    display:block;
    margin:0 auto;
}

.sign-up,
.sign-in
{
    padding: 30px 30px 20px;
    font-family: roboto;
    font-size: 50px;
    color: black;
    line-height: 64px;
    text-align:center;
}

.input-group-auth{
    display: block;
    width: 340px;
    border: none;
    background-color: rgba(125,125,125,0.15);
    padding: 15px 0px 15px 14px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.submit-button{
    background-color:#1d9bf0;
    color:white;
    font-weight:bold;
    font-size:16px;
    width:355px;
    padding:9px 0 9px 0;
    border:none;
    border-radius:90px;
    cursor:pointer;
    margin-top:18px;
    margin-left:17px;
    margin-bottom:25px;
    transition:background-color 0.15s;
}

.have-account{
    font-family: roboto;
    text-align:center;
    font-size:14px;
    color:gray;
}

a{
    text-decoration:none;
}