.nav-bar{
    position: fixed;
    width: 20%;
    height: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    background-color: #E8FDFF;
    display:block;
    margin:0 auto;
    left: -17%;
    z-index: 10;
}
.nav-bar:hover {
    left: 0%;
}
.nav-butt {
    display: block;
    background-color: aqua;
    margin-left:1%;
    margin-top:1%;
}
.nav-open-butt {
    height: 25px;
    width: 25px;
    margin: 8px;
    right: 0px;
}
.nav-open {
    float: right;
    display: block;
}
.patients-table
{
    width: 80%;
    position:absolute;
    left: 15%;
    top: 5%;
    background-color: aquamarine;

}
.input-group-patient{
    display: block;
    width: 30%;
    border: none;
    background-color: rgba(125,125,125,0.15);
    padding: 15px 0px 15px 14px;
    margin-bottom: 16px;
    margin-left: 8%;
    z-index: 2;
}
.input-group-patient-photos{
    display: block;

}